<html>
  <head>
    <title>로그인 페이지</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    로그인 한 상태입니다.<br>
    {{ user.username }}님 환영합니다!

    <a href="{% url 'user:logout' %}">로그아웃</a>

    {% else %}
    <h1>로그인 페이지</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="로그인">
    </form>

    <a href="{% url 'user:signup' %}">회원가입</a>

    {% endif %}
  </body>
</html>