<html>
  <head>
    <title>회원가입</title>
    <style>
      input {
        display: block;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>회원가입</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <label>성</label>
      <input type="text" name="firstname">

      <label>이름</label>
      <input type="text" name="lastname">

      <label>비밀번호</label>
      <input type="password" name="password">

      <label>이메일</label>
      <input type="text" name="email">

      <label>학번</label>
      <input type="text" name="student_id">

      <input type="submit" value="가입하기">
    </form>
  </body>
</html>